{% extends 'base.html' %}
{% load static %}

{% block additional_links %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <div class="col-lg-8">
        <h3>Registration</h3>

        <div class="d-flex">
            <div>
                <div class="mt-5">Login</div>
                <div class="mt-4">Email</div>
                <div class="mt-4">NickName</div>
                <div class="mt-4">Password</div>
                <div class="mt-4">Repeat password</div>
                <div class="mt-4">Upload avatar</div>
            </div>
            
            <div class="ms-5 w-50">
                <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div> {{ form.login }} </div>
                    <div> {{ form.email }} </div>
                    <div> {{ form.nickname }} </div>
                    <div> {{ form.password }} </div>
                    <div> {{ form.repeated_password }} </div>
                    <div class="input-group mt-3">
                        <input id="file-path" placeholder="Choose file..." readonly>
                        <input name="avatar" type="file" id="file-input" accept="image/*">
                    </div>
                    <button type="submit" class="mt-4">Register!</button>
                </form>
            </div>
        </div>

        {% if form.errors %}
            <div class="alert alert-danger" style="margin-top: 10px;">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block additional_scripts %}
    <script>
        const uploadUrl = "{% url 'upload_image' %}";
    </script>
    <script src="{% static 'js/file_chooser.js' %}"></script>
{% endblock %}